Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
MongoDB over SQL databases?

In [ ]:
mongodb is most non-sql database, it is most popular open source document oriented database.

no sql means non-relational data base, it used json data for storing.

EX:-
    {
  title: 'Dhruv_skills',
  by: 'Dhruv Panchal',
  type: 'NO-SQL'
    }

In [ ]:
-when we are not sure about our structure of out data base then we use mongodb(no sql) because it give us a dynamic schema.
-its speed, open-source
-lesser cost
-high scalable

Q2. State and Explain the features of MongoDB.

In [ ]:
as we know mongodb is a open source and data oriented database.
in mongodb we can create many databases and in database we can create number of collection.
mongodb has collection it is same like in sql we store data in table.
it has no structure.

its state we can say :
    first we create data base (we can create more then one).
    in data base we create collection (create as you needed).
    now in collection we store our data.
    and make opration on data as you wish like retriving data , updating data...
    
    
feature of mongo db :
    it is schema less.
    its speed,performance.
    its scalibility, availability, flxibility.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo

In [6]:
client = pymongo.MongoClient("mongodb+srv://panchaldhruv:Dhruv27223@cluster0.d2epu5c.mongodb.net/?retryWrites=true&w=majority")

In [7]:
#  create databse 
db = client["assigment_pw"]

# create collection in data base 
clo = db["collection_pw"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
clo.insert_one({"name":"dhruv"})

In [7]:
d = [{"key":1,"work":"no sql"},
    {"key":2,"work":"sql"},
    {"key":3,"work":"no sql"},
    {"key":4,"work":"sql"}
    ]

In [8]:
clo.insert_many(d)

In [10]:
clo.find_one()

{'_id': ObjectId('6489fc8d2e2eaf5f04533251'), 'name': 'dhruv'}

In [11]:
for i in clo.find():
    print(i)

{'_id': ObjectId('6489fc8d2e2eaf5f04533251'), 'name': 'dhruv'}
{'_id': ObjectId('6489fd202e2eaf5f04533252'), 'key': 1, 'work': 'no sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533253'), 'key': 2, 'work': 'sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533254'), 'key': 3, 'work': 'no sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533255'), 'key': 4, 'work': 'sql'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.

In [ ]:
find() is used to select the data from the collection.
we use find method it give the data one by one.
if we want to pass condition we can pass it in find() method.

In [9]:
for i in clo.find():
    print(i)

{'_id': ObjectId('6489fc8d2e2eaf5f04533251'), 'name': 'dhruv'}
{'_id': ObjectId('6489fd202e2eaf5f04533252'), 'key': 1, 'work': 'no sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533253'), 'key': 2, 'work': 'sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533254'), 'key': 3, 'work': 'no sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533255'), 'key': 4, 'work': 'sql'}
{'_id': ObjectId('648b26d339583c3b40ab6f0d'), 'name': 'dhruv'}

In [11]:
for i in clo.find({"key":2}):
    print(i)

{'_id': ObjectId('6489fd202e2eaf5f04533253'), 'key': 2, 'work': 'sql'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [ ]:
sort() : 
    sort method is used to sort the data.
    ("field_name" , 1 0r -1)
    we pass fieldname or we can say key and second parameter is 1 or -1.
    1 : for ascending and 
    -1 : for descending

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb+srv://panchaldhruv:Dhruv27223@cluster0.d2epu5c.mongodb.net/?retryWrites=true&w=majority")

databse = client["Database_sort"]
collection = databse["my_sort"]

In [49]:
collection.insert_many([{"name":"ved","key":2},
                       {"name":"pravin","key":3},
                       {"name":"hiten","key":4},
                       {"name":"parth","key":5},
                       {"name":"chintan","key":6},])

In [4]:
for i in collection.find():
    print(i)

{'_id': ObjectId('648b2e4d39583c3b40ab6f12'), 'name': 'ved', 'key': 2}
{'_id': ObjectId('648b2e6c39583c3b40ab6f18'), 'name': 'ved', 'key': 2}
{'_id': ObjectId('648b2e6c39583c3b40ab6f19'), 'name': 'pravin', 'key': 3}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1a'), 'name': 'hiten', 'key': 4}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1b'), 'name': 'parth', 'key': 5}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1c'), 'name': 'chintan', 'key': 6}

In [10]:
for i in collection.find().sort("key",-1):
    print(i)

{'_id': ObjectId('648b2e6c39583c3b40ab6f1c'), 'name': 'chintan', 'key': 6}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1b'), 'name': 'parth', 'key': 5}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1a'), 'name': 'hiten', 'key': 4}
{'_id': ObjectId('648b2e6c39583c3b40ab6f19'), 'name': 'pravin', 'key': 3}
{'_id': ObjectId('648b2e4d39583c3b40ab6f12'), 'name': 'ved', 'key': 2}
{'_id': ObjectId('648b2e6c39583c3b40ab6f18'), 'name': 'ved', 'key': 2}

In [12]:
for i in collection.find().sort("name",1):
    print(i)

{'_id': ObjectId('648b2e6c39583c3b40ab6f1c'), 'name': 'chintan', 'key': 6}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1a'), 'name': 'hiten', 'key': 4}
{'_id': ObjectId('648b2e6c39583c3b40ab6f1b'), 'name': 'parth', 'key': 5}
{'_id': ObjectId('648b2e6c39583c3b40ab6f19'), 'name': 'pravin', 'key': 3}
{'_id': ObjectId('648b2e4d39583c3b40ab6f12'), 'name': 'ved', 'key': 2}
{'_id': ObjectId('648b2e6c39583c3b40ab6f18'), 'name': 'ved', 'key': 2}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [35]:
clo.delete_one({"name":"dhruv"})

In [36]:
for i in clo.find():
    print(i)

{'_id': ObjectId('6489fd202e2eaf5f04533252'), 'key': 1, 'work': 'no sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533253'), 'key': 2, 'work': 'sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533254'), 'key': 3, 'work': 'no sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533255'), 'key': 4, 'work': 'sql'}
{'_id': ObjectId('648b26d339583c3b40ab6f0d'), 'name': 'dhruv'}

In [37]:
clo.delete_many({"work":"no sql"})

In [38]:
for i in clo.find():
    print(i)

{'_id': ObjectId('6489fd202e2eaf5f04533253'), 'key': 2, 'work': 'sql'}
{'_id': ObjectId('6489fd202e2eaf5f04533255'), 'key': 4, 'work': 'sql'}
{'_id': ObjectId('648b26d339583c3b40ab6f0d'), 'name': 'dhruv'}

In [42]:
clo.drop()

In [43]:
db

Database(MongoClient(host=['ac-8gfhssr-shard-00-02.d2epu5c.mongodb.net:27017', 'ac-8gfhssr-shard-00-01.d2epu5c.mongodb.net:27017', 'ac-8gfhssr-shard-00-00.d2epu5c.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-tapt00-shard-0', tls=True), 'assigment_pw')

In [44]:
db.clo

Collection(Database(MongoClient(host=['ac-8gfhssr-shard-00-02.d2epu5c.mongodb.net:27017', 'ac-8gfhssr-shard-00-01.d2epu5c.mongodb.net:27017', 'ac-8gfhssr-shard-00-00.d2epu5c.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-tapt00-shard-0', tls=True), 'assigment_pw'), 'clo')

In [45]:
for i in clo.find():
    print(i)

In [ ]:
clo.delete_one : it is used to delete one document in collection.
    
clo.delete_many : it is used to delete many data from the collection.
    
clo.drop() : it drop the collection.