In [ ]:
Q 1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
database :
    database is a thing in computer where we can store our file , data , information in a structure oe non structure way.
    so it is easy to accessed and managed.

In [ ]:
sql database :
    sql database use structure query language.
    sql work with well defined structure data or like relational database.
    in sql database we have to give pre-difined structure.
    in this data stored in table row X columns.
    EX:- MY SQL

no sql database :
    in this we don't have to pass structure of data base.
    in this data stored as key - value pair.
    it give more flexibility.
    it is a dynamic schema. 
    EX:-MONGO DB

In [ ]:
Q 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
data definition language (DDL): 
    it is a subset of sql.
    it consist commands to commands like CREATE, DROP, ALTER, TRUNCATE.

In [ ]:
CREATE: 
    create is used to create database and also used to create table.
    "CREATE DATABASE MYDATABASE"
    "CREATE TABLE MYDATABASE.MY_TABLE"
    
DROP:
    DROP is used to drop the existing table.
    
ALTER:
    alter is used to make chnage in table like add new columns .
    
TRUNCATE:
    it delete all the data from the table but table schema is as it is,means table is not deleted. we can insert new data in it.

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

cr = db.cursor()


# cr.execute("CREATE DATABASE if not exists DDL")
# cr.execute("CREATE TABLE if not exists DDL.my_ddl_table(College_Id INT(2), College_name VARCHAR(30), Branch VARCHAR(10))")
# cr.execute("insert into DDL.my_ddl_table values(12,'GIT','IT')")
# cr.execute("insert into DDL.my_ddl_table values(1,'GIT','IT')")
# cr.execute("insert into DDL.my_ddl_table values(2,'GIT','IT')")
# cr.execute("select * from DDL.my_ddl_table")

# for i in cr.fetchall():
#     print(i)

#  alter is used to make chnage in table like add new columns 
# cr.execute("ALTER TABLE DDL.my_ddl_table ADD sem INT(1)")

# cr.execute("insert into DDL.my_ddl_table values(1,'GIT','IT',2)")
# cr.execute("insert into DDL.my_ddl_table values(2,'GIT','IT',3)")


#  it delete all the data from the table 
# cr.execute("TRUNCATE TABLE DDL.my_ddl_table")

cr.execute("DROP TABLE DDL.my_ddl_table")

# cr.execute("select * from DDL.my_ddl_table")

# for i in cr.fetchall():
#     print(i)

db.commit()
db.close()

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML :
    in sql dml(data manipulation language) is used  for manipulation opration like :
        INSERT , UPDATE , DELETE.
        
INSERT :
    insert is used to insert the data in the data table.
    
UPDATE :
    update is used to update the data in the data table.
    
DELETE:
    delete is used to delete the data from the data table.

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host ="localhost",
    user = "abc",
    password = "password"
)

cr = db.cursor()

# cr.execute("create database if not exists my_dml")
# cr.execute("create table if not exists my_dml.dml(c1 int, c2 varchar(10))")

#  it insert the data into the table
# cr.execute("insert into my_dml.dml values(1,'dhruv')")
# cr.execute("insert into my_dml.dml values(2,'panchal')")
# cr.execute("insert into my_dml.dml values(3,'pravin')")
# cr.execute("insert into my_dml.dml values(4,'chintan')")


#  it update the table 
# cr.execute("update my_dml.dml set c2='ved' where c1=2")


#  it delete row from the table 
#  where is used to show condition
cr.execute("delete from my_dml.dml  where c1=2")



cr.execute("select * from my_dml.dml")

for i in cr.fetchall():
    print(i)

db.commit()
db.close()

In [ ]:
Q 4. What is DQL? Explain SELECT with an example.

In [ ]:
DQl :
    it is a data quere language it is a statement used as quere for retrieving the data from the table.
    we have a select useing which we can retrieve data from the data-table.
    
SELECT :
    select is used to retrieve the data from table.

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host ="localhost",
    user = "abc",
    password = "password"
)

cr = db.cursor()

# cr.execute("create database if not exists my_dml")
# cr.execute("create table if not exists my_dml.dml(c1 int, c2 varchar(10))")

#  it insert the data into the table
# cr.execute("insert into my_dml.dml values(1,'dhruv')")
# cr.execute("insert into my_dml.dml values(2,'panchal')")
# cr.execute("insert into my_dml.dml values(3,'pravin')")
# cr.execute("insert into my_dml.dml values(4,'chintan')")


#  it update the table 
# cr.execute("update my_dml.dml set c2='ved' where c1=2")


#  it delete row from the table 
#  where is used to show condition
cr.execute("delete from my_dml.dml  where c1=2")


#  select is used to fetchall the data. we can also use select with condition using where.
cr.execute("select * from my_dml.dml")

for i in cr.fetchall():
    print(i)

db.commit()
db.close()

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
primary key:
    primary key is used in table, by using it we can uniquely identify each record(row) in the table.
#     
    the column which we use as primary key then that the column must contain unique value,
    that column must be not null.
    
foreign key :
    foreign key is used to link tables together.
    foreign key in table is primary key of other table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host ="localhost",
    user = "abc",
    password = "password"
)

cr = db.cursor()
cr.execute("OPRATION")

db.close()

In [ ]:
Cursor is a Temporary Memory or Temporary Work Station.
It is Allocated by Database Server at the Time of Performing Data Manipulation Language operations on the Table by the User.
Cursors are used to store Database Tables.

there are two types of cursor:
    Implicit Cursors:
        Implicit Cursors are also known as Default Cursors of SQL SERVER.
        These Cursors are allocated by SQL SERVER when the user performs DML operations.
    Explicit Cursors: 
        Explicit Cursors are Created by Users whenever the user requires them. 
        Explicit Cursors are used for Fetching data from Table in Row-By-Row Manner.

In [ ]:
execute :
    execute method is used to execute all type of sql statement.
    execute method return in boolean(True or False)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query

In [ ]:
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.